.notification{
    position: fixed;
    top: 2px;
    width: 98%;
    left: 1%;
    right: 1%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: white; 
    z-index: 1;
    height: 40px;
    box-shadow: 0 0 1px 1px rgb(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out;
}

.success{
    display: inline-block;
    color: green;
    display: flex;
    flex-direction: row;
}
.error{
    display: inline-block;
    color: red;
    display: flex;
    flex-direction: row;
}
.cross{
    position: absolute;
    display: inline-block;
    cursor: pointer;
    right: 0;
}