.btn {
  background-color: #f84464;
  color: white;
  border: 5px;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  font-size: 25px;
  font: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 15px;
}

/* .btn:hover {
    background-color: #b74343;
    transform: scale(1.1);
} */

.btn img {
}

@media screen and(max-width:480px) {
  .btn {
    font-size: 18px;
  }
}
