.seatcard-container {
  position: relative;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  max-width: 400px;
  overflow-y: auto;
  overflow-x: visible;
  height: 307px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.seatcard-container:hover {
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.seatcard-details {
  display: flex;
  flex-direction: column;
}

.hall-name {
  font-weight: bold;
  font-size: medium;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 5px;
}

.timing {
  font-style: italic;
  margin-bottom: 5px;
}

.fee {
  font-size: medium;
}


.seatcard-seats {
  position: relative;
  background-color: #fffcfc;
  border-radius: 5px;
  border: 3px solid ghostwhite;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: visible;
  overflow-x: visible; 
  height: 200px; 
}

.seat{
  position: relative;
  width: 55px;
  height: 55px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bolder;
  color: black;
}

.seat-number{
  text-align: center;
  width: 100%;
}

.seat-img{
  display: visible;
  position: absolute;
  width: 20px;
  right: 0;
  top: 0;
  opacity: 0;
  transition: rotate 0.3s ease-in-out,opacity 0.2s ease;
}
.seat-img.downward{
  transform: rotate(90deg);
}
.seat-img.upward{
  transform: rotate(-90deg);
}

.seat-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
  z-index: 3;
  border: none;
  opacity: 1;
  color: black;
  cursor: pointer;
  font-size: small;
  overflow: visible;
  /* top: calc(100% + 10px); */
  top: 100%;
}

.dropdown-content.student-dropdown{
  text-align: center;
  width: max-content;
}

.dropdown-content button{
  border: none;
  background-color: inherit;
}
.dropdown-content:hover{
  border: 1px solid blue;
  background-color: #ffffff;
}
.dropdown-content img{
  border-radius: 50%;
  margin: 1px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.seat:hover .seat-img {
  opacity: 1; 
}

.inactive{
  border:5px solid #eee;
  color: #eee;
}

.occupied {
  background-color: #eeeeee;
  color: white;
  border:2px solid #eeeeee;

}

.occupied:hover {
  background-color: #eee;
  border: #ccc;
}

.vacant {
  background-color: #fff;
  border:2px solid #1ea83c;
  color: #1ea83c;
}

.vacant:hover {
  background-color: #1ea83c;
  color: #fff;
}

.selected{
  background-color: #1ea83c;
  border: 2px solid #1ea83c;
  color: #fff;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.edit-img {
  position: absolute;
  bottom: -10px;
  right: 50px;
}

.del-img {
  position: absolute;
  bottom: -10px;
  right: 10px;
}

.del-img:hover,
.edit-img:hover {
  background-color: #eee;
  padding: 2px;
  border-radius: 3px;
  transform: scale(1.03);
  cursor: pointer;
}

