.booking-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px 0;
}

.not-available,.not-selected{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:40px 0;
  min-height: max-content;
}
.booked-successfully{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:40px 0;
  min-height: max-content;
  width: 400px;
  background-color: #fff;
}
.success-animation{
  width: 200px;
  height: 200px;  
}
.circle {
  stroke-dasharray: 1194;
  stroke-dashoffset: 1194;
  animation: dc 1s ease-in-out;
  animation-fill-mode: forwards;
}
.tick {
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  animation: dt 0.8s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.95s;
}


@keyframes dc {
  from {
    stroke-dashoffset: 1194;
  }
  to {
    stroke-dashoffset: 2388;
  }
}
@keyframes dt {
  from {
    stroke-dashoffset: 350;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.not-selected {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/feels-empty.png');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: contain;
}
.booking-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.booking-form h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

#address,
#name,
#phone,
#desk,
#mobile-no,
#gender,
#joining-date
#months,
#opt1,
#opt2{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}


.error {
  border-color: #e44e4e;
}

.error-message {
  color: #e44e4e;
  font-size: 0.8em;
  margin-top: 5px;
}
.home-button{
  color: #fff;
  background-color: #335ddc;
  font-size: x-large;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
}
.home-button:hover{
  background-color: rgba(51, 93, 220, 0.9);
}

.booking-form button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.booking-form button:hover {
  opacity: 1;
}

.booking-form button:disabled {
  cursor: not-allowed;
}

.seat-details {
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.seat-details h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.seat-details p {
  margin-bottom: 5px;
}

@media screen and (max-width: 480px) {
  .booking-form {
    width: 80%;
  }
  .booked-successfully{
    width: 80%;
  }
}
