.payments{
  margin-top: 70px;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 10px rgba(23, 23, 244, 0.2);
  padding: 0.6rem;
  overflow: hidden;
  overflow-x: auto;
}
.payment-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin: .8rem;
  
}

.selection-btn-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.student-search-input{
  border: 1px solid black;
  outline: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-size: small;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--primary-text-color);
  flex:1;
  width: 50%;
}
.student-search-input:focus{
  border: 2px solid var(--primary-text-color);
}

.payment-table th{
  font-weight: bold;
  text-align: left;
  border-bottom:3px solid #335ddc;
  padding: 8px;
  font-size: small;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.payment-table td {
  border: 1px solid #dddddd;
  padding: 10px;
  font-size: small;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.payment-table tr:nth-child(even) {
  background-color: #fafafa;
}

.inspiring-loader{
  height: 100vh;
  display: flex;
  justify-content: center;  
  align-items: center;
}

.payment{
  padding: 5px;
}

.payment-table{
  margin: 7px;
  background-color: white;
}

.payment-table .student-name,
.payment-table .shift-name{
  display: flex;  
  justify-content: center;
  align-items: center;
}

.no-data{
  color: red;
}

.selection-btn {
  display: inline-flex;
  margin: 10px 5px;
  padding: 7px 4px;
  border-radius: 10px;
  border: 2px solid #335ddc;
  color: #335ddc;
  background-color: #fff;
  opacity: 0.7;
  cursor: pointer;
  font-size: medium;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: 0.3s;
}

.selection-btn:hover {
  opacity: 1;
}

.cross-filter {
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
}

.pagination{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

@media screen and (max-width: 800px) {
  .student-search-input{
    width: 70%;
    margin: 0px 10px;
  }
}