.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 5;
}

.modal-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  background-color: #f7f7f7;
  width: 50%;
  min-width: max-content;
  max-height: 80%;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-size: 1.2rem;
  margin-top: 80px;
}

.modal-overlay.active .modal-content {
  opacity: 1;
  transform: translateY(0);
}
.Form-heading {
  text-align: center;
}
.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content form div {
  margin-bottom: 20px;
}

.modal-content label {
  margin-right: 10px;
}

#hall,
#shift,
#capacity,
#fee,
#start-time,
#end-time {
  display: block;
  margin: 7px;
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  font-size: inherit;
}

.modal-content form button {
  margin-top: 20px;
}

.modal-content form h2 {
  text-align: center;
}

.modal-content form button.close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.cross-icon-container {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.cross-icon-container:hover {
  transform: scale(1.05);
  background-color: #eee;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .modal-content {
    width: 90%;
    height: 80%;
  }
}
