.hall-carousel {
  width: 100%;
  margin: 20px auto; /* Center the carousel horizontally */
}

.slick-prev,
.slick-next {
  color: #000;
  font-size: 24px;
  z-index: 1; /* Ensure buttons are on top of carousel */
}

.slick-prev {
  left: 10px; /* Adjust position of previous button */
}

.slick-next {
  right: 10px; /* Adjust position of next button */
}

.slick-prev:hover,
.slick-next:hover {
  color: #333;
}

