.sidebar {
    margin-top: 80px;
    width: 45px;
    height: 100%;
    overflow-y: auto;
    background-color: #333;
    transition: width 0.3s;
    padding-top: 10px;
    left: 0;
    top: 0;
  }
  
  .sidebar:hover {
    width: 90px;
  }
  
  .sidebar-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .sidebar:hover .sidebar-link {
    opacity: 1;
  }
  
  .sidebar-link img {
    margin-bottom: 5px;
  }
  
  .sidebar-link div {
    opacity: 0; 
    transition: opacity 0.3s;
  }
  
  .sidebar:hover .sidebar-link div {
    opacity: 1; /* Show labels when sidebar is hovered */
  }
  
  .sidebar-link.active {
    background-color: #555; 
  }
  