.draggable-container{
  display: flex;
  align-items: center;
}

.draggable {
    background-color: white;
    border-radius:0 5px 5px 0;
    box-shadow: #00000029 0px 1px 4px;
    width: 475px; 
    overflow-y: auto; 
    height: 300px; 
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    touch-action: none;
}

.slick-col{
  width: 3px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color:#dad7d7;
  border-radius: 5px 0  0 5px ;
  cursor: grab;
}

.dot-icon{
  max-width: max-content;
}

@media screen  and (max-width:500px){
  .draggable{
    width: 277px;
  }

}
   

 