.draggable-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: #00000029 0px 1px 4px;
  width: 450px;
  margin-bottom: 15px;
}

.draggable-title {
  width: 100%;
  background-color: #fff;
  font-size: large;
  padding: 5px;
  border-bottom: 0.5px solid rgb(226, 226, 226);
  display: flex;
  align-items: center;
}

.six-dots {
  width: 25px;
  opacity: 0;
}
.six-dots.visible {
  opacity: 1;
}

.draggable {
  background-color: white;
  border-radius: 0 5px 5px 0;
  width: 100%;
  overflow-y: auto;
  height: 300px;
  /* display: flex; */
  /* justify-content: flex start; */
  /* gap: 20px; */
  touch-action: none;
}

@media screen and (max-width: 750px) {
  .draggable-container {
    width: 350px;
  }
}
@media screen and (max-width: 500px) {
  .draggable-container {
    width: 100%;
  }
}
