:root{
  --primary-color: #FF8C00;  
  --primary-background-color: linear-gradient(to left top, #ff8c00, #fc7e30, #ffffff);
  --secondary-background-color: #fafafa;
  --primary-text-color: #1c268b;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(223, 217, 217);
  border-radius: 2px;
}


body,
p,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body{
  background-image: var(--primary-background-color);
}

.middle-container {
  display: flex;
  flex: 1;
  padding: 20px;
  min-height: 50vh;
}

.routes-container {
  max-height: 95vh;
  overflow-y: scroll;
  width: 100%;
  padding: 24px;
  position: relative;
  background-color: var(--secondary-background-color);
  border-radius: 35px;
  
}

.hall-page {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.hamburger-menu{
  visibility: hidden;
}


.dropdown-container {
  position: absolute;
  top: 32px;
  right: 15px;
  display: inline-block;
  z-index: 1;
}

.dropdown-button {
  border: 1px solid black;
  font-size: large;
  padding: 5px 10px;
  color: rgb(255, 255, 255);
  background-color: inherit;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-button .dropdown-img {
  width: 20px;
  height: 20px;
  border-radius: 15%;
  margin-left: 14px;
}

.dp-img {
  width: 30px;
  border-radius: 50%;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
}

.dropdown-container:hover .dropdown-menu,
.dropdown-container.open .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 5px 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  &:hover {
    background-color: #f5f5f5;
  }
}


@media screen and (max-width:600px) {
  .hamburger-menu{
    visibility: visible;
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: inline-block;
    border: 3px solid rgb(204, 204, 204);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    /* padding: 5px; */
    background-color: rgb(0, 0, 0, 0);
    z-index: 10;
  }
  .middle-container{
    padding: 10px;
  }
  .dropdown-container{
    top:1rem;
    right: 1rem;
  }
}