.body-container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.middle-container{
    display: grid;
    grid-template-columns: auto 1fr ;
}
.routes-container{
    min-height: 50vh;
}

.footer-container{
    width: 95%;
    background-color: #000000;
    padding: 15px;
    color: #eee;
}

.addhall-container{
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px; 
    margin-bottom: 20px; 
}
.plus-img{
    height: 100px;
    width: 100px;
    background-color: #c5c5c53c;
    border-radius: 5px;
    border-style: none;
    border-width: 0; 
} 
.plus-img:hover{
    background-color: #dedede; 
}
.booking-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hall-page{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}




